# !!! This is an example file and will not be used by JAG3D. Please !!!
# !!! create a copy of this file named "formatteroptions.default",  !!!
# !!! located in the same directory. Modify the copied file w.r.t.  !!!
# !!! the desired values.                                           !!!
#
# Comments are indicated by # as first character
#
# The following values are the default values of the formatter
# Please note: Not all units are used within JAG3D

LENGTH_UNIT = METER
ANGLE_UNIT  = GRADIAN
SCALE_UNIT  = PARTS_PER_MILLION_WRT_ONE
VECTOR_UNIT = METER
	
LENGTH_UNCERTAINTY_UNIT = MILLIMETER
ANGLE_UNCERTAINTY_UNIT  = MILLIGRADIAN
SCALE_UNCERTAINTY_UNIT  = PARTS_PER_MILLION_WRT_ZERO
VECTOR_UNCERTAINTY_UNIT = MILLIMETER
	
LENGTH_RESIDUAL_UNIT = MILLIMETER
ANGLE_RESIDUAL_UNIT  = MILLIGRADIAN
SCALE_RESIDUAL_UNIT  = PARTS_PER_MILLION_WRT_ZERO
VECTOR_RESIDUAL_UNIT = MILLIMETER
	
TEMPERATURE_UNIT = DEGREE_CELSIUS
PRESSURE_UNIT    = HECTOPASCAL
PERCENT_UNIT     = PERCENT

	
LENGTH_FRACTION_DIGITS = 4
ANGLE_FRACTION_DIGITS  = 5
SCALE_FRACTION_DIGITS  = 2
VECTOR_FRACTION_DIGITS = 7

LENGTH_UNCERTAINTY_FRACTION_DIGITS = 1
ANGLE_UNCERTAINTY_FRACTION_DIGITS  = 2
SCALE_UNCERTAINTY_FRACTION_DIGITS  = 1
VECTOR_UNCERTAINTY_FRACTION_DIGITS = 1

LENGTH_RESIDUAL_FRACTION_DIGITS = 1
ANGLE_RESIDUAL_FRACTION_DIGITS  = 2
SCALE_RESIDUAL_FRACTION_DIGITS  = 2
VECTOR_RESIDUAL_FRACTION_DIGITS = 2

TEMPERATURE_FRACTION_DIGITS = 1
PRESSURE_FRACTION_DIGITS    = 2
PERCENT_FRACTION_DIGITS     = 2

STATISTIC_FRACTION_DIGITS = 2
DOUBLE_FRACTION_DIGITS    = 5