# !!! This is an example file and will not be used by JAG3D. Please !!!
# !!! create a copy of this file named "layers.default",            !!!
# !!! located in the same directory. Modify the copied file w.r.t.  !!!
# !!! the desired values.                                           !!!
#
# Comments are indicated by # as first character
#
# The following values are the default values of JAG3D
#
# For valid color specifications, see JAVA-API: 
# https://docs.oracle.com/javafx/2/api/javafx/scene/paint/Color.html
#
LEGEND_FONT_FAMILY = System
LEGEND_FONT_COLOR  = #2F4F4F
LEGEND_FONT_COLOR  = #778899
LEGEND_FONT_SIZE   = 12
LEGEND_LINE_WIDTH  = 1.5
LEGEND_POSITION    = NORTH_EAST

OBSERVATION_APRIORI_SYMBOL_SIZE = 12
OBSERVATION_APRIORI_LINE_WIDTH  = 1
OBSERVATION_APRIORI_COLOR       = #b0c4de

OBSERVATION_APRIORI_COLOR_LEVELING     = #c195c1
OBSERVATION_APRIORI_COLOR_DIRECTION    = #ffff7d
OBSERVATION_APRIORI_COLOR_DISTANCE     = #6d93ff
OBSERVATION_APRIORI_COLOR_ZENITH_ANGLE = #f28282
OBSERVATION_APRIORI_COLOR_GNSS         = #70b770

OBSERVATION_APOSTERIORI_SYMBOL_SIZE = 12
OBSERVATION_APOSTERIORI_LINE_WIDTH  = 1
OBSERVATION_APOSTERIORI_COLOR       = #778899

OBSERVATION_APOSTERIORI_HIGHLIGHT_COLOR      = #FF4500
OBSERVATION_APOSTERIORI_HIGHLIGHT_LINE_WIDTH = 2.5

OBSERVATION_APOSTERIORI_COLOR_LEVELING     = #875187
OBSERVATION_APOSTERIORI_COLOR_DIRECTION    = #d7d722
OBSERVATION_APOSTERIORI_COLOR_DISTANCE     = #4872e9
OBSERVATION_APOSTERIORI_COLOR_ZENITH_ANGLE = #d23737
OBSERVATION_APOSTERIORI_COLOR_GNSS         = #32a332

POINT_SHIFT_HORIZONTAL_ARROW_SYMBOL_SIZE = 12
POINT_SHIFT_HORIZONTAL_ARROW_SYMBOL_TYPE = FILLED_TETRAGON_ARROW
POINT_SHIFT_HORIZONTAL_ARROW_LINE_WIDTH  = 1
POINT_SHIFT_HORIZONTAL_ARROW_COLOR       = #ff8c00

POINT_SHIFT_VERTICAL_ARROW_SYMBOL_SIZE = 12
POINT_SHIFT_VERTICAL_ARROW_SYMBOL_TYPE = FILLED_TETRAGON_ARROW
POINT_SHIFT_VERTICAL_ARROW_LINE_WIDTH  = 1
POINT_SHIFT_VERTICAL_ARROW_COLOR       = #ffaf00

PRINCIPAL_COMPONENT_HORIZONTAL_ARROW_SYMBOL_SIZE = 8
PRINCIPAL_COMPONENT_HORIZONTAL_ARROW_SYMBOL_TYPE = FILLED_TRIANGLE_ARROW
PRINCIPAL_COMPONENT_HORIZONTAL_ARROW_LINE_WIDTH  = 1
PRINCIPAL_COMPONENT_HORIZONTAL_ARROW_COLOR       = #6dc6bd

PRINCIPAL_COMPONENT_VERTICAL_SYMBOL_SIZE = 8
PRINCIPAL_COMPONENT_VERTICAL_ARROW_SYMBOL_TYPE = FILLED_TRIANGLE_ARROW
PRINCIPAL_COMPONENT_VERTICAL_ARROW_LINE_WIDTH  = 1
PRINCIPAL_COMPONENT_VERTICAL_ARROW_COLOR       = #b3e6e6

REFERENCE_POINT_APRIORI_SYMBOL_SIZE = 12
REFERENCE_POINT_APRIORI_SYMBOL_TYPE = STROKED_SQUARE
REFERENCE_POINT_APRIORI_LINE_WIDTH  = 1.5
REFERENCE_POINT_APRIORI_COLOR       = #90ee90
REFERENCE_POINT_APRIORI_FONT_FAMILY = System
REFERENCE_POINT_APRIORI_FONT_SIZE   = 10
REFERENCE_POINT_APRIORI_FONT_COLOR  = #696969

REFERENCE_POINT_APOSTERIORI_SYMBOL_SIZE = 12
REFERENCE_POINT_APOSTERIORI_SYMBOL_TYPE = STROKED_SQUARE
REFERENCE_POINT_APOSTERIORI_LINE_WIDTH  = 1.5
REFERENCE_POINT_APOSTERIORI_COLOR       = #006400
REFERENCE_POINT_APOSTERIORI_FONT_FAMILY = System
REFERENCE_POINT_APOSTERIORI_FONT_SIZE   = 10
REFERENCE_POINT_APOSTERIORI_FONT_COLOR  = #696969

REFERENCE_POINT_APOSTERIORI_HIGHLIGHT_COLOR      = #FF4500
REFERENCE_POINT_APOSTERIORI_HIGHLIGHT_LINE_WIDTH = 2.5

STOCHASTIC_POINT_APRIORI_SYMBOL_SIZE = 12
STOCHASTIC_POINT_APRIORI_SYMBOL_TYPE = STROKED_SQUARE
STOCHASTIC_POINT_APRIORI_LINE_WIDTH  = 1.5
STOCHASTIC_POINT_APRIORI_COLOR       = #ffd700
STOCHASTIC_POINT_APRIORI_FONT_FAMILY = System
STOCHASTIC_POINT_APRIORI_FONT_SIZE   = 10
STOCHASTIC_POINT_APRIORI_FONT_COLOR  = #696969

STOCHASTIC_POINT_APOSTERIORI_SYMBOL_SIZE = 12
STOCHASTIC_POINT_APOSTERIORI_SYMBOL_TYPE = STROKED_SQUARE
STOCHASTIC_POINT_APOSTERIORI_LINE_WIDTH  = 1.5
STOCHASTIC_POINT_APOSTERIORI_COLOR       = #daa520
STOCHASTIC_POINT_APOSTERIORI_FONT_FAMILY = System
STOCHASTIC_POINT_APOSTERIORI_FONT_SIZE   = 10
STOCHASTIC_POINT_APOSTERIORI_FONT_COLOR  = #696969

STOCHASTIC_POINT_APOSTERIORI_HIGHLIGHT_COLOR      = #FF4500
STOCHASTIC_POINT_APOSTERIORI_HIGHLIGHT_LINE_WIDTH = 2.5

DATUM_POINT_APRIORI_SYMBOL_SIZE = 12
DATUM_POINT_APRIORI_SYMBOL_TYPE = STROKED_HEXAGON
DATUM_POINT_APRIORI_LINE_WIDTH  = 1.5
DATUM_POINT_APRIORI_COLOR       = #87ceeb
DATUM_POINT_APRIORI_FONT_FAMILY = System
DATUM_POINT_APRIORI_FONT_SIZE   = 10
DATUM_POINT_APRIORI_FONT_COLOR  = #696969

DATUM_POINT_APOSTERIORI_SYMBOL_SIZE = 12
DATUM_POINT_APOSTERIORI_SYMBOL_TYPE = STROKED_HEXAGON
DATUM_POINT_APOSTERIORI_LINE_WIDTH  = 1.5
DATUM_POINT_APOSTERIORI_COLOR       = #1e90ff
DATUM_POINT_APOSTERIORI_FONT_FAMILY = System
DATUM_POINT_APOSTERIORI_FONT_SIZE   = 10
DATUM_POINT_APOSTERIORI_FONT_COLOR  = #696969

DATUM_POINT_APOSTERIORI_HIGHLIGHT_COLOR      = #FF4500
DATUM_POINT_APOSTERIORI_HIGHLIGHT_LINE_WIDTH = 2.5

NEW_POINT_APRIORI_SYMBOL_SIZE = 12
NEW_POINT_APRIORI_SYMBOL_TYPE = STROKED_CIRCLE
NEW_POINT_APRIORI_LINE_WIDTH  = 1.5
NEW_POINT_APRIORI_COLOR       = #ffc0cb
NEW_POINT_APRIORI_FONT_FAMILY = System
NEW_POINT_APRIORI_FONT_SIZE   = 10
NEW_POINT_APRIORI_FONT_COLOR  = #696969

NEW_POINT_APOSTERIORI_SYMBOL_SIZE = 12
NEW_POINT_APOSTERIORI_SYMBOL_TYPE = STROKED_CIRCLE
NEW_POINT_APOSTERIORI_LINE_WIDTH  = 1.5
NEW_POINT_APOSTERIORI_COLOR       = #c480c4
NEW_POINT_APOSTERIORI_FONT_FAMILY = System
NEW_POINT_APOSTERIORI_FONT_SIZE   = 10
NEW_POINT_APOSTERIORI_FONT_COLOR  = #696969

ABSOLUTE_CONFIDENCE_FILL_COLOR   = #e6e6e6
ABSOLUTE_CONFIDENCE_STROKE_COLOR = #999999
ABSOLUTE_CONFIDENCE_LINE_WIDTH   = 0.5

RELATIVE_CONFIDENCE_FILL_COLOR   = #ffffe0
RELATIVE_CONFIDENCE_STROKE_COLOR = #999999
RELATIVE_CONFIDENCE_LINE_WIDTH   = 0.5